@use "../../App.scss" as g;

.couponlist-wrap {
  .coupon-top {
    @include g.userInfoPanel;
    padding: 30px;
    margin-bottom: 24px;

    .coupon-num {
      display: flex;
      gap: 10px;
    }

    input {
      @include g.myTextBox;
      height: 40px;
      width: 500px;
    }

    button {
      @include g.myBtn1($pd: 0);
      width: 90px;
      height: 30px;
    }

    p {
      margin-top: 10px;
      color: g.$text-sub-color;
      font-size: g.$size-14-main;
      line-height: 1.5;
    }

    .explain-list {
      @include g.userInfoNoticeList;
      padding-top: 20px;
    }
  }

  .coupon-bottom {
    @include g.userInfoPanel;
    padding: 30px;

    .mycoupon-top {
      @include g.myFlex(space-between, 0, center);
      padding-bottom: 16px;
      @include g.userInfoListLine;

      .mycoupon-title {
        font-size: g.$size-16;
        font-weight: g.$Bold;
        color: g.$text-main-color;
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;

      th {
        background-color: #f0f0f0;
        padding: 12px;
        font-size: g.$size-14-main;
        text-align: center;
        border-top: 1px solid g.$main-color;
        color: g.$text-main-color;
      }

      td {
        padding: 14px;
        text-align: center;
        @include g.userInfoListLine;
        font-size: g.$size-14-main;
        color: g.$text-main-color;
      }

      .empty-coupon {
        color: g.$text-sub-color;
        height: 72px;
      }
    }
  }
}
