@use "../../App.scss" as g;

.inquiry-list-wrap {
  width: 100%;
  padding: 30px;
  @include g.userInfoPanel;

  .inquiry-search {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;

    select {
      @include g.myTextBox;
      appearance: none;
      height: 35px;
      width: 120px;
      padding: 0 28px 0 10px;
      background-image: url(../../../public/images/userinfo/input-under-btn.svg);
      background-repeat: no-repeat;
      background-position: right 10px center;
      background-size: 10px 6px;
      color: g.$text-main-color;
      outline: none;
    }

    div {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    input {
      @include g.myTextBox;
      height: 35px;
      width: 264px;
    }

    button {
      @include g.myBtn1($pd: 0);
      min-width: 90px;
      height: 35px;
      padding: 0 12px;
    }
  }

  table {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
    @include g.userInfoListLine;

    tr {
      display: flex;
    }

    th,
    td {
      display: flex;
      height: 60px;
      align-items: center;
      justify-content: center;
      font-weight: g.$Regular;
    }

    th {
      background-color: #f0f0f0;
      border-top: 1px solid g.$main-color;
      color: g.$text-main-color;
    }

    td {
      @include g.userInfoListLine(top);
      color: g.$text-main-color;
    }

    .inquiry-empty {
      flex: 1;
      width: 100%;
      color: g.$text-sub-color;
    }

    th:nth-child(1),
    td:nth-child(1) {
      flex: 1;
    }

    th:nth-child(2),
    td:nth-child(2) {
      flex: 1;
    }

    th:nth-child(3),
    td:nth-child(3) {
      flex: 3;
    }

    th:nth-child(4),
    td:nth-child(4) {
      flex: 1;
    }

    th:nth-child(5),
    td:nth-child(5) {
      flex: 1;
    }
  }

}

.inquiry-bottom {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;

  .inquiry-write-btn {
    @include g.myBtn1($pd: 0);
    width: 120px;
    height: 40px;
  }
}
