@use "../../App.scss" as g;

.order-list-section {
  @include g.userInfoPanel;
  padding: 30px;
  width: 100%;

  .order-tap-menu {
    display: flex;
    gap: 20px;

    button {
      height: 40px;
      margin-right: 20px;
      background: none;
      border: none;
      color: g.$text-sub-color;
      cursor: pointer;
    }

    .active {
      color: #000000;
    }
  }

  .order-tab-content {
    .tab-order-wrap {
      .order-empty {
        padding: 40px 0;
        color: g.$text-sub-color;
        text-align: center;
      }

      .date-filter-wrap {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px 0 20px;
        border-top: 1px solid #000000;
        @include g.userInfoListLine;
        position: relative;
        z-index: 2;

        .date-btn-wrap {
          display: flex;
          gap: 10px;

          button {
            @include g.myBtn2($pd: 0);
            width: 90px;
            height: 35px;
          }

          .active {
            @include g.myBtn1($pd: 0);
            width: 90px;
            height: 35px;
          }
        }

        .custom-date-wrap {
          display: flex;
          align-items: center;
          gap: 10px;

          .date-input-wrap {
            display: flex;
            align-items: center;
            position: relative;
            width: 120px;
            height: 35px;
            @include g.myTextBox;
            padding: 0 28px 0 10px;

            .date-input {
              display: flex;
              width: 100%;
              height: inherit;
              font-size: g.$size-14-main;
              border: none;
              outline: none;
              font-family: inherit;
              background: transparent;

              &::-webkit-calendar-picker-indicator {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
              }
            }

            img {
              position: absolute;
              top: 50%;
              right: 10px;
              width: 10px;
              height: 6px;
              transform: translateY(-50%);
              pointer-events: none;
            }
          }

          button {
            @include g.myBtn1($pd: 0);
            width: 90px;
            height: 35px;
          }
        }

        .custom-year-wrap {
          display: flex;
          gap: 10px;

          button {
            @include g.myBtn1($pd: 0);
            width: 90px;
            height: 35px;
          }

          .custom-year-input {
            position: relative;
            width: 90px;
            height: 35px;
            display: flex;
            align-items: center;
            cursor: pointer;
            @include g.myTextBox;
            padding: 0 28px 0 10px;

            input {
              width: 100%;
              height: inherit;
              font-size: g.$size-14-main;
              border: none;
              outline: none;
              cursor: pointer;
              background: transparent;
            }

            img {
              position: absolute;
              top: 50%;
              right: 10px;
              width: 10px;
              height: 6px;
              transform: translateY(-50%);
              pointer-events: none;
            }

            .year-list {
              font-size: g.$size-14-main;
              position: absolute;
              top: 100%;
              left: 0;
              width: 100%;
              z-index: 50;
              @include g.myTextBox;
              padding: 0;
              background: #ffffff;

              div {
                color: g.$text-sub-color;
                padding: 5px 7px;
                cursor: pointer;
                width: 100%;

                &:hover {
                  color: g.$text-main-color;
                  background: g.$text-sub-color2;
                }
              }
            }
          }
        }
      }

      .order-list-wrap {
        display: flex;
        flex-direction: column;

        .order-list-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: g.$text-sub-color;
          background: #eeeeee;
          padding: 5px 10px;
          line-height: 1;

          .order-date {
            display: flex;
            gap: 10px;
          }

          .order-detail {
            .order-detail-btn {
              border: none;
              background: none;
              color: g.$text-sub-color;
              font-family: inherit;
              cursor: pointer;
            }
          }
        }

        .order-list {
          .order-product {
            display: flex;
            gap: 10px;
            padding: 20px 12px;
            @include g.userInfoListLine;

            .img-box {
              gap: 20px;
              display: flex;
              align-items: center;
              width: 450px;

              img {
                min-width: 100px;
                height: 150px;
              }

              .product-text {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                .order-name {
                  font-size: g.$size-16;
                  font-weight: g.$Bold;
                  line-height: 1.35;
                }

                .order-price {
                  font-size: g.$size-14-main;
                  font-weight: g.$Regular;
                }

                .order-count {
                  font-size: 13px;
                  font-weight: g.$Regular;
                }

                .order-count {
                  color: g.$text-sub-color2;
                  margin-top: 4px;
                }
              }
            }

            .text-box {
              display: flex;
              gap: 10px;
              align-items: center;
              flex: 1;
              min-width: 0;
              padding-left: 10px;

              .status {
                display: flex;
                justify-content: center;
                flex: 1 1 180px;
                min-width: 120px;
              }

              .order-no {
                display: flex;
                flex-direction: column;
                flex: 1 1 180px;
                min-width: 130px;

                p,
                span {
                  display: flex;
                  justify-content: center;
                }
              }

              .order-btn-wrap {
                display: flex;
                justify-content: flex-end;
                flex: 0 0 auto;
                min-width: 190px;

                .btn {
                  @include g.myBtn1($pd: 0);
                  min-width: 90px;
                  padding: 0 12px;
                  height: 35px;
                }

                .order-btn {
                  display: flex;
                  gap: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.order-tab-text {
  ul {
    @include g.userInfoNoticeList;
    padding: 20px 0 0;
  }
}
