@use "../../App.scss" as g;

.order-detail-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  font-size: 1.5rem;

  button {
    @include g.myBtn2;
  }
}

.order-detail-page {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;

  .order-detail-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;

    .order-detail-section {
      display: flex;
      flex-direction: column;
      gap: 6px;

      h2 {
        color: g.$text-main-color;
        font-size: g.$size-30;
      }

      span {
        color: g.$text-sub-color;
        margin-left: 10px;
      }
    }
  }

  .order-detail-section {
    border: 1px solid #e8e8e8;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 30px 60px;
    width: 100%;

    &.simple {
      height: 100%;
    }
  }

  .section-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding-bottom: 16px;
    border-bottom: 2px solid #eeeeee;

    p {
      color: g.$text-sub-color;
    }
  }

  .order-detail-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .order-product {
      display: flex;
      gap: 10px;
      border-bottom: 2px solid #eeeeee;
      padding: 12px 0;

      .img-box {
        gap: 20px;
        display: flex;
        align-items: center;
        width: 450px;

        img {
          min-width: 100px;
          height: 150px;
        }

        .text-box {
          .order-status {
            padding-bottom: 10px;
          }
        }
      }
    }
  }

  .order-detail-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
  }

  .detail-info-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;

    div {
      display: grid;
      grid-template-columns: 110px minmax(0, 1fr);
      gap: 16px;

      &.is-total {
        margin-top: 4px;
        padding-top: 16px;
        border-top: 2px solid #eeeeee;

        p,
        span {
          font-weight: g.$Bold;
        }
      }
    }

    p {
      color: g.$text-sub-color;
    }
  }
}
