@use "../../App.scss" as g;

.order-list-section {
  background: #ffffff;
  padding: 30px;
  width: 100%;

  .order-tap-menu {
    display: flex;
    gap: 20px;

    button {
      height: 40px;
      margin-right: 20px;
      background: none;
      border: none;
      color: g.$text-sub-color;
      cursor: pointer;
    }

    .active {
      color: #000000;
    }
  }
  .order-tab-content {
    .tab-order-wrap {
      .date-filter-wrap {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 10px 0;
        .date-btn-wrap {
          display: flex;
          gap: 10px;

          button {
            @include g.myBtn2;
          }

          .active {
            @include g.myBtn1;
          }
        }
        .custom-date-wrap {
          display: flex;
          align-items: center;
          gap: 10px;
          .date-input-wrap {
            display: flex;
            gap: 5px;

            position: relative;
            width: 110px;
            @include g.myTextBox;

            .date-input {
              display: flex;

              width: 80px;
              height: inherit;
              font-size: g.$size-14-main;
              border: none;
              font-family: inherit;

              &::-webkit-calendar-picker-indicator {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
              }
            }
            img {
              width: 8px;
            }
          }
          button {
            @include g.myBtn1;
          }
        }

        .custom-year-wrap {
          display: flex;
          gap: 10px;

          button {
            @include g.myBtn1;
          }

          .custom-year-input {
            position: relative;
            width: 70px;
            display: flex;
            cursor: pointer;
            @include g.myTextBox;

            input {
              width: 100%;
              height: inherit;
              font-size: g.$size-14-main;
              border: none;
              outline: none;
              cursor: pointer;
            }
            img {
              width: 8px;
            }
            .year-list {
              font-size: g.$size-14-main;
              position: absolute;
              top: 100%;
              left: 0;
              width: 100%;
              z-index: 10;
              @include g.myTextBox;
              padding: 0;
              div {
                color: g.$text-sub-color;
                padding: 5px 7px;
                cursor: pointer;
                width: 100%;

                &:hover {
                  color: g.$text-main-color;
                  background: g.$text-sub-color2;
                }
              }
            }
          }
        }
      }
      .order-list-wrap {
        display: flex;
        flex-direction: column;

        .order-list-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: g.$text-sub-color;
          background: #eeeeee;
          padding: 5px 10px;
          line-height: 1;
          margin-top: 10px;

          .order-date {
            display: flex;
            gap: 10px;
          }

          .order-detail {
            .order-detail-btn {
              border: none;
              background: none;
              color: g.$text-sub-color;
              font-family: inherit;
              cursor: pointer;
            }
          }
        }
        .order-list {
          .order-product {
            display: flex;
            gap: 10px;
            border-bottom: 2px solid #eeeeee;
            padding: 12px 0;

            .img-box {
              gap: 20px;
              display: flex;
              align-items: center;
              width: 450px;

              img {
                min-width: 100px;
                height: 150px;
              }
              .product-text {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }

            .text-box {
              display: flex;
              gap: 10px;
              align-items: center;

              .status {
                display: flex;
                justify-content: center;
                width: 260px;
              }

              .order-no {
                display: flex;
                flex-direction: column;
                width: 260px;

                p,
                span {
                  display: flex;
                  justify-content: center;
                }
              }

              .order-btn-wrap {
                display: flex;
                justify-content: end;
                width: 175px;

                .btn {
                  @include g.myBtn1;
                }

                .order-btn {
                  display: flex;
                  gap: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}
