@use "../../App.scss" as g;

.price-container {
    width: 100%;
}

.price-container h3 {
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.slider-wrap {
    position: relative;
    height: 5px;
}

.slider {
    position: relative;
    height: 4px;
    //   background: #ddd;
    border-radius: 5px;
    background: blue;
}

.track {
    position: absolute;
    width: 100%;
    height: 4px;
    background: #ddd;

}

.range {
    position: absolute;
    height: 4px;
    background: #000;
}

.thumb {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 4px;
    outline: none;
    z-index: 100;
    -webkit-appearance: none;
}

.thumb-left {
    background: linear-gradient(to left, #444 0%, #444 var(--per), #000 var(--per) #000 100%);
}

.thumb-right {
    background: linear-gradient(to left, #000 0%, #000 var(--per), #444 var(--per) #444 100%);
}

.thumb::-webkit-slider-thumb {
    pointer-events: all;
    width: 14px;
    height: 14px;
    background: #000;
    border-radius: 50%;
    // cursor: pointer;
    -webkit-appearance: none;
    border: 2px solid #fff;
}

.price-inputs {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;

    span {
        display: flex;
        font-size: 10px;
        padding: 7px;
        align-items: center;
        color: g.$text-sub-color2;
    }
}

.price-inputs input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center;
    background: white;
    color: g.$text-main-color;
}

.price-container button {
    width: 100%;
    padding: 10px;
    background: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}