@use "../../App.scss" as g;

.section-title {
    display: flex;
    align-items: flex-end;
    gap: 18px;
    margin-bottom: 42px;

    opacity: 0;
    transform: translateY(24px);
    transition:
        opacity 0.8s ease,
        transform 0.8s ease;

    &.is-visible {
        opacity: 1;
        transform: translateY(0);
    }

    h2,
    p {
        margin: 0;
        padding: 0;
        line-height: 1;
    }

    h2 {
        font-size: 38px;
        font-weight: 900;
        color: g.$text-main-color;
        position: relative;
        top: 7px;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        color: g.$text-sub-color2;
    }
}

@keyframes sectionTitleUp {
    from {
        opacity: 0;
        transform: translateY(24px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}