@use "../../App.scss" as g;

.section-title {
    text-align: center;
    margin-bottom: 50px;

    h2 {
        font-size: g.$size-30;
        font-weight: g.$Bold;
        color: g.$text-main-color;
    }

    p {
        font-size: g.$size-16;
        font-weight: g.$ExtraLight;
        color: g.$text-sub-color;
    }
}