.pro-section {
    .mySub-Swiper {
        .show-slide {
            position: relative;

            .main-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                h3 {
                    font-size: 2.5em;
                }

                h4 {
                    font-size: 2em;
                }

                p {
                    font-size: 0.88em;
                    text-decoration: underline;
                }
            }
        }
    }
}

.col-section {
    .mySub-Swiper {
        .show-slide {
            position: relative;

            .main-text {
                position: absolute;
                top: 45%;
                left: 60%;


                h3 {
                    font-size: 2.5em;
                }

                h4 {
                    font-size: 2em;
                }

                p {
                    font-size: 0.88em;
                    text-decoration: underline;
                }
            }
        }
    }

}