@use "../../App.scss" as g;

.main {
  display: flex;
  flex-direction: column;
  gap: 36px;

  .frist-line {
    display: flex;
    gap: 24px;

    .my-info {
      flex: 2;

      .my-info-wrap {
        background: #ffffff;
        padding: 40px 40px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        height: 100%;

        p {
          font-size: g.$size-30;

          strong {
            font-weight: g.$Bold;
          }
        }
        .myinfo-list {
          display: flex;
          flex-direction: column;
          gap: 10px;
          li {
            display: flex;
            align-items: flex-end;
            gap: 12px;
            p {
              font-size: 1.5rem;
            }
            .question {
              position: relative;
              display: flex;
              width: 70%;

              img {
                padding: 5px 0;
              }

              p {
                position: absolute;
                left: 25px;
                top: 15px;
                font-size: g.$size-14-main;
                background: #d9d9d9;
                padding: 7px 10px;
                border-radius: 0 8px 8px 8px;
                opacity: 0;
                transition: opacity 1s ease 2s;
              }
              img:hover + p {
                opacity: 1;
                transition: opacity 0.5s ease;
              }
            }

            .my-total-price {
              font-size: g.$size-16;
              color: g.$text-sub-color;
            }
          }
        }
      }
    }

    .my-wallet {
      flex: 1;

      .my-wallet-list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        background-color: #f5f5f5;
        width: 100%;
        height: 100%;

        li {
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 0 30px;
          justify-content: center;
          background-color: #ffffff;
          width: 100%;
          height: 100%;

          span {
            font-size: g.$size-16;
            color: g.$text-sub-color;
          }

          strong {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  .my-order {
    .order-list {
      display: flex;
      gap: 24px;

      .order-product {
        display: flex;
        gap: 20px;
        min-width: 420px;
        height: 150px;
        padding: 20px;
        background-color: #ffffff;
        align-items: center;

        .img-box {
          img {
            min-width: 100px;
            height: 150px;
          }
        }

        .text-box {
          width: 250px;

          .status {
            display: flex;
            align-items: center;
            gap: 6px;
            font-size: g.$size-14-main;
            font-weight: g.$Bold;
            color: #000;
            margin-bottom: 10px;

            .dot {
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background: #04d500;
            }
          }

          .order-name {
            width: 100%;
            min-width: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .order-count {
            font-size: g.$size-14-main;
            color: g.$text-sub-color2;
          }

          .status-DONE {
            color: g.$text-sub-color2;
          }
        }
      }
    }
  }

  .my-wish {
    .wish-list {
      display: flex;
      gap: 24px;
      .wish-product {
        display: flex;
        gap: 20px;
        min-width: 420px;
        height: 190px;
        padding: 20px;
        background-color: #ffffff;
        align-items: center;
        .img-box {
          img {
            min-width: 100px;
            height: 150px;
          }
        }
        .text-box {
          width: 250px;
          .text-wrap {
            margin-bottom: 15px;

            .wish-name {
              width: 100%;
              min-width: 0;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .wish-price {
              display: flex;
              gap: 5px;
              align-items: flex-end;

              span {
                color: g.$text-sub-color2;
                font-size: g.$size-14-main;
                text-decoration: line-through;
              }
            }

            .wish-count {
              font-size: g.$size-14-main;
              color: g.$text-sub-color2;
            }
          }
          .button-wrap {
            display: flex;
            gap: 8px;

            .Bbtn {
              @include g.myBtn1;
            }

            .Wbtn {
              @include g.myBtn2;
            }
          }
        }
      }
    }
  }
}
