.about-title {
    font-size: 36px;

}

.about-top {
    display: flex;
    gap: 230px;
    align-items: center;

    .text {
        padding-top: 10px;
        padding-bottom: 155px;
        font-size: 20px;
        font-weight: 300;

        li {
            padding-bottom: 24px;
        }
    }
}

.about-bottom {
    display: flex;
    gap: 230px;
}

.insta {
    background-color: black;
    padding: 20px 10px;



    .insta-list {
        display: flex;
        gap: 24px;
    }
}