.guide-content {
    padding-top: 4px;
}

.guide-section {
    padding-bottom: 46px;
    margin-bottom: 46px;


    &:last-child {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    h3 {
        font-size: 40px;
        font-weight: 600;
        color: #000;
        margin-bottom: 40px;
        line-height: 1;
        padding-bottom: 34px;
        border-bottom: 1px solid #111;


    }

    h4 {
        font-size: 15px;
        font-weight: 500;
        color: #111;
        margin: 28px 0 10px;
        line-height: 1.7;
    }

    p {
        font-size: 14px;
        font-weight: 400;
        color: #333;
        line-height: 1.9;
        margin-bottom: 6px;
        word-break: keep-all;
    }

    ul {
        margin-top: 8px;
        margin-bottom: 18px;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    li {
        position: relative;
        padding-left: 11px;
        font-size: 14px;
        font-weight: 400;
        color: #333;
        line-height: 1.9;
        word-break: keep-all;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 13px;
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background: #555;
        }
    }
}