@use "../../App.scss" as g;

.stock {

    .map {
        @include g.myFlex(flex-start, 20px, flex-start);
        width: 100%;

        .map-left {
            #map {
                width: 720px;
                height: 720px;
            }
        }

        .map-right {
            flex: 1;
            display: flex;
            flex-direction: column;

            .top-menu {
                @include g.myFlex(flex-start, 5px, center);
                cursor: pointer;

                font-size: 20px;

                div {
                    padding: 6px 12px;
                }

                & .active {
                    background-color: rgba(0, 0, 0, 0.06);

                }


            }

            .menu-box {
                border: 2px solid rgba(0, 0, 0, 0.06);
                flex: 1;

                .top {
                    @include g.myFlex(flex-start, 10px, center);
                    padding: 10px;
                    font-size: g.$size-14-main;
                    color: g.$text-main-color;

                    select {
                        border: 1px solid g.$main-color;
                        padding: 0 10px;
                        height: 35px;
                        width: 120px;
                        appearance: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        background: url("/images/sub-about/downarrow.svg") no-repeat right 10px center;
                        background-size: 16px;
                    }

                    input {
                        width: 450px;
                        height: 35px;
                        padding: 0 10px;

                        border: 1px solid g.$main-color;

                        font-size: g.$size-14-main;
                    }

                    button {
                        height: 35px;
                        @include g.myBtn1($pd: 5px 30px);
                    }
                }

                .show {
                    padding: 10px 10px 0 10px;
                    height: 625px;
                    overflow-y: auto;

                    li {

                        font-size: g.$size-14-main;
                        padding: 5px;
                        cursor: pointer;

                        .name {
                            font-size: g.$size-16;
                            color: g.$text-main-color;
                        }

                        .address,
                        .tel {
                            font-weight: 300;
                        }


                    }

                    .active {
                        background-color: #e6e6e6;
                    }

                    li:hover {
                        background-color: rgba(0, 0, 0, 0.06);

                    }

                }
            }
        }
    }

    .img {
        padding: 100px 0;
    }

    .stock-title {
        font-size: g.$size-30;
        font-weight: g.$Bold;
        padding-bottom: 30px;
        color: g.$text-main-color;
    }

    .online-store {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;

        .store {
            background-color: g.$sub-color;
            padding: 10px;
            font-size: g.$size-14-main;
            color: g.$text-sub-color;

            .store-name {
                font-size: g.$size-16;
                color: g.$text-main-color;

            }
        }
    }

    .story-text {
        text-align: center;
        padding: 150px 0 80px 0;
        color: g.$text-sub-color2;
        font-size: g.$size-14-main;
    }
}