.sub-section {
  background: #f5f5f5;
}

.user-info-left {
  .info-list {
    ul {
      display: flex;
      flex-direction: column;
      gap: 24px;
      li {
        button {
          border: none;
          background: none;
          font-size: 1rem;
          color: #999999;
        }
      }
    }
  }
}
