@use "../../App.scss" as g;

.sub-section {
  // background: #f5f5f5;
}

.user-info-wrap {
  display: flex;
  justify-content: space-between;

  .user-info-left {
    width: 115px;

    .info-list {
      h2 {
        cursor: pointer;
      }

      @include g.myFlex(flex-start, 2.2rem);
      flex-direction: column;

      ul {
        @include g.myFlex(flex-start);
        flex-direction: column;

        li {
          button {
            border: none;
            background: none;
            font-size: 1rem;
            color: g.$text-sub-color;
            cursor: pointer;
          }
        }
      }
    }
  }

  .user-info-right {
    h2 {
      width: 1250px;
    }
  }
}

.my-order {
  .text-box {
    .status {
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: g.$size-14-main;
      color: #000;

      .dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #04d500;
      }
    }

    .status-DONE {
      color: g.$text-sub-color2;
    }
  }
}

.my-wish {
  .Bbtn {
    @include g.myBtn1;
  }

  .Wbtn {
    @include g.myBtn2;
  }
}