@use "../../App.scss" as g;

.info-sec {
  background: #f5f5f5;
}

.user-info-wrap {
  display: flex;
  justify-content: space-between;
  gap: 70px;

  .user-info-left {
    width: 115px;

    .info-list {
      width: 120px;

      h2 {
        cursor: pointer;
      }

      @include g.myFlex(flex-start, 2.2rem);
      flex-direction: column;

      ul {
        @include g.myFlex(flex-start);
        flex-direction: column;

        li {
          button {
            border: none;
            background: none;
            font-size: 1rem;
            color: g.$text-sub-color;
            cursor: pointer;

            &.active {
              color: #000000;
              font-weight: g.$Bold;
            }
          }
        }
      }
    }
  }

  .user-info-right {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 24px;
    overflow: hidden;

    h2 {
      width: 100%;
    }
  }
}

.main-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;

  h3 {
    max-width: 1255px;
    height: 40px;
    border-bottom: 1px solid #000;
  }

  .main-box-content {
    height: 100%;
  }
}
