// 컬러 ==================
// 브랜드
$main-color: #1E1E1E;
$sub-color: #FAFAFA;

// 텍스트
$text-main-color: #1E1E1E;
$text-sub-color: #777777;
$text-sub-color2: #A5A5A5;

// 사이즈 ==================
// 보조 12px
$size-12-sub: 0.75rem;

// 기본 14px
$size-14-main: 0.875rem;

// 섹션 서브 타이틀 16px
$size-16: 1rem;

// 섹션 메인 타이틀 30px
$size-30: 1.875rem;

// 두께 ==================
// 보조
$ExtraLight: 200;

// 기본
$Regular: 400;

// 강조
$Bold: 700;

// 믹스인 ==================
// flex
@mixin myFlex($jc: space-between, $gap: 1.5rem, $al: null) {
    display: flex;
    justify-content: $jc;
    gap: $gap;
}

// position
@mixin myPos($p: absolute, $top: null, $bottom: null, $left: null, $right: null) {
    position: $p;
}

// 반응형 ==================
$breakpoints: (
    tablet: 1280px,
    mobile: 768px,
    small: 480px
);

@mixin respond($key) {
    @media (max-width: map-get($breakpoints, $key)) {
        @content;
    }
}

// 사용 예시
// @include respond(mobile) {
//   font-size: 1.2rem;
// }